h1#myHeader1{

    position:absolute;
    height:131px;
    left:5.56%;





}

h1#toDoList{

    width: 600px;
    height: 60px;

    color:white; 
    position: absolute;
    height: 60px;
    left: 39.51%;
    right: 39.51%;
    text-decoration: underline;
    text-decoration-color: green; 
    
}

h2{

    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color:white;
}

img{


    height:110px;
    width:45%;
	height:auto;
  
    
    
    
    
}


.bg1{

    background-color: #4AC959;
    color: #ffff;
    height: 24px;
    width: 1501px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    position: absolute;

}

.bg2{

    position: absolute;
    width: 1501px;
    height: 327px;
    left: 0px;
    top: 758px;
    background: #000000;
}

.bg3{

    position: absolute;
    width: 380px;
    height: 20px;
    left: 314px;
    top: 1177px;
    background: #E88D39;
    border-radius: 0px;
}

.bg4{

    position: absolute;
    width: 380px;
    height: 20px;
    left: 735px;
    top: 1177px;
    background: #4AC959;
    border-radius: 0px;
} 

.bg5{

    position: absolute;
    width: 380px;
    height: 754px;
    left: 314px;
    top: 1197px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(66, 66, 66, 0.198454);
}

.bg6{

    position: absolute;
    width: 380px;
    height: 581px;
    left: 735px;
    top: 1197px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px rgba(66, 66, 66, 0.2);
}

h1{

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 64px;
    /* or 80% */
    color: #000000;
}

.bg8{


    background: linear-gradient(0deg, #4AC959, #4AC959), #000000;
}

