@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root{
  --header-height: 3rem;
  --first-color: white;
  --first-color-dark: #4AC959;
  --first-color-darken: #4AC959;
  --white-color: #FCF8F8;
  --body-font: 'Montserrat', sans-serif;
  --big-font-size: 3.75rem;
  --normal-font-size: .938rem;
  --z-fixed: 100;
}

@media screen and (min-width: 48rem){
  :root{
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}


*,::before,::after{
  box-sizing: border-box;
}

body{
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

.bg2{

  position: absolute;
  width: 84.450rem;
  height: 20.438rem;
  left: 0rem;
  top: 47.375rem;
  background: #000000;
}

p#titulo1{

  font-style: normal;
  font-weight: 500;
  font-size: 3.75rem;
  line-height: 8.75rem;
  color: #FFFFFF;
  text-align: center;
  height: 1.25rem;
  size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: green;
}

p#titulo2{

  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 16.25rem;
  color: #FFFFFF;
  text-align: center;
  height: 1.25rem;
  size: 1.5rem;


}

h3#toDoList{

  width: 37.5rem;
  height: 3.75rem;
  color:white; 
  position: absolute;
  height: 3.75rem;
  left: 39.51%;
  right: 39.51%;
  text-decoration: underline;
  text-decoration-color: green; 
  
}

.bg1{

  background-color: #4AC959;
  color: #ffff;
  height: 1.5rem;
  width: 84.450rem;
  left: 0rem;
  top: 0rem;
  border-radius: 0rem;
  position: absolute;

}


h1,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}


.bd-grid{
  max-width: 64rem;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}

.show{
  right: 0;
}

.home{
  background-color: var(--first-color);
  overflow: hidden;
}

.home__container{
  height: calc(100vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  row-gap: 1.5rem;
}

.home__img{
  position: relative;
  padding-top: 1.5rem;
  justify-self: center;
  width: 18.875rem;
  height: 14.563rem;
}

.home__img img{
  position: absolute;
  top: 0;
  left: 0;
}

.home__data{
  color: black;
}

.home__title{
  font-size: var(--big-font-size);
  line-height: 1.3;
  margin-bottom: 1rem;
}

p#p01{
  color: green;
  font-size: var(--big-font-size);
}

.home__description{
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.home__button{
  display: inline-block;
  background-color: var(--first-color-dark);
  color: var(--white-color);
  padding: 1.125rem 2rem;
  border-radius: .5rem;
}

.home__button__2{

  display: inline-block;
  background-color: black;
  color: white;
  padding: 1.005rem 2rem;
  position: absolute;
  top: 2.75rem;
  bottom: 95.97%;
  left: 86.11%;
  right: 5.56%;
  width: 6.875rem;
  height: 3.125rem;
  
}

input[type='radio']:after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.938rem;
  top: -0.125rem;
  left: -0.063rem;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 0.125rem solid #E88D39;
}

input[type='radio']:checked:after {
  width: 1.5rem;
  height: 1.563rem;
  border-radius: 0.938rem;
  top: -0.125rem;
  left: -0.063rem;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 0.125rem solid white;
}

img#imgLogin{
  
  left: 86.11%;
  position: absolute;
  top: 2.75rem;
  bottom: 95.97%;
  left: 6.11%;
  right: 5.56%;
  width: 10.875rem;
  height: 10.125rem;
  
}

img#imgCapa{

  position: absolute;
  top: 2.75rem;
  bottom: 95.97%;
  left: 76.11%;
  right: 85.56%;
  width: 17.875rem;
  height: 20.125rem;
  top: 14.90rem;

}

input[name="question_nd"]:after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.938rem;
  top: -0.125rem;
  left: -0.063rem;
  position: relative;
  background-color: #01ee50;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 0.125rem solid #01ee50;
}

input[name="question_nd"]:checked:after {
  width: 1.5rem;
  height: 1.563rem;
  border-radius: 0.938rem;
  top: -0.125rem;
  left: -0.063rem;
  position: relative;
  background-color: #01ee50;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 0.125rem solid white;
}

.home__button__3{

  display: inline-block;
  background-color: black;
  color: white;
  padding: 1.000rem 2rem;
  position: absolute;
  top: 35.75rem;
  bottom: 95.97%;
  left: 28.11%;
  right: 5.56%;
  width: 7.875rem;
  height: 3.125rem;
  
}

.home__button__4{

  display: inline-block;
  background-color: black;
  color: white;
  padding: 1.000rem 2rem;
  position: absolute;
  top: 25.75rem;
  bottom: 95.97%;
  left: 36.11%;
  right: 5.56%;
  width: 7.975rem;
  height: 3.125rem;
  
}

.modalDialog {
	position: fixed;
	font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 1.75rem;;
  line-height: 1.3;
  margin-bottom: 1rem;
	top: 0;
	right: 0;
	bottom: 0;
  text-align: center;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.bg3{

  position: absolute;
  width: 23.75rem;
  height: 1.25rem;
  left: 19.625rem;
  top: 73.563rem;
  background: #E88D39;
  border-radius: 0rem;
}

.bg4{

  position: absolute;
  width: 23.75rem;
  height: 1.25rem;
  left: 45.938rem;
  top: 73.563rem;
  background: #4AC959;
  border-radius: 0rem;
} 

.bg5{

  position: absolute;
  width: 23.75rem;
  height: 47.125rem;
  left: 19.625rem;
  top: 74.813rem;
  background: #FFFFFF;
  box-shadow: 0rem 0.25rem 0.75rem rgba(66, 66, 66, 0.198454);
}

.bg7{

  position: absolute;
  width: 84.450rem;
  height: 12.063rem;
  left: 0rem;
  top: 133.75rem;
  background: #000000;
}

p#paragrafoBg7{

  font-style: normal;
  font-weight: 500;
  font-size: 2.125rem;
  line-height: 8.75rem;
  color: #FFFFFF;
  text-align: center;
  height: 1.25rem;
  size: 1.5rem;
   
}

p#paragrafoBg72{

  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 15.625rem;
  color: #FFFFFF;
  text-align: center;
  height: 1.25rem;
  size: 1.5rem;

}

h1#tituloTab1{

  
text-align: center;
font-size: xx-large;

color: #000000;
}

p#subTituloTab1{

  font-family: 'Montserrat', Helvetica, sans-serif;
  text-align: center;
  height: 3.625rem;
  left: 29.17%;
  right: 59.17%;
  top: calc(50% - 3.625rem/2 + 8.969rem);
}

p#item9{
  color:#E38D3F;
}

.bg6{

  position: absolute;
  width: 23.75rem;
  height: 36.313rem;
  left: 45.938rem;
  top: 74.813rem;
  background: #FFFFFF;
  box-shadow: 0rem 0.25rem 3.75rem rgba(66, 66, 66, 0.2);
}

p#paragrafo1{
  color:green;
}

p#paragrafo2{

  text-align: center;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color:white;
}
.input {
  outline: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 52rem;
  height: 32.563rem;
  top: 0.188rem;
	position: relative;
	margin: 10% auto;
	padding: 0.313rem 1.25rem 0.813rem 1.25rem;
	border-radius: 0.625rem;
	background: #fff;
	background: -moz-linear-gradient(#fff,white);
	background: -webkit-linear-gradient(#fff,white);
	background: -o-linear-gradient(#fff, white);
}


.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 1.563rem;
	position: absolute;
	right: -0.75rem;
	text-align: center;
	top: -0.625rem;
	width: 1.5rem;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 0.75rem;
	-moz-border-radius: 0.75rem;
	border-radius: 0.75rem;
	-moz-box-shadow: 0.063rem 0.063rem 0.188rem #000;
	-webkit-box-shadow: 0.063rem 0.063rem 0.188rem #000;
	box-shadow: 0.063rem 0.063rem 0.188rem #000;
}

.btnLogin{
  
    display: inline-block;
    background-color: var(--first-color-dark);
    color: var(--white-color);
    padding: 1.125rem 2rem;
    border-radius: .5rem;
  
}

.close:hover { background: #00d9ff; }

.home__button:hover{
  background-color: var(--first-color-darken);
}

@media screen and (min-width: 48rem){
  body{
    margin: 0;
  }
  
  .home__container{
    height: 100vh;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows:  1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
  }
  
  .home__img{
    order: 1;
    width: 23.438rem;
    height: 18.063rem;
  }

  .home__img img{
    width: 23.438rem;
  }
}

@media screen and (min-width: 64rem){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }

  .home__container{
    justify-content: initial;
    column-gap: 4.5rem;
  }

  .home__img{
    width: 39.375rem;
    height: 35.375rem;
  }

  .home__img img{
    width: 44.375rem;
  }
}